<template>

  <div>
    <el-container>
          <el-header style="background-color: rgb(238, 241, 246)">
              <el-row>
                  <el-col :span="1">
                          <el-button icon="el-icon-plus" circle @click="handleAdd()"></el-button>
                          <!-- <el-button icon="el-icon-plus" circle @click="$router.push('/table1/add')"></el-button> -->
                  </el-col>
              </el-row>
          </el-header>

          <el-main>
         <el-table
        :data="tableData"
        style="width: 100%">
          <el-table-column fixed type="expand">
              <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="邮编">
                  <span>{{ props.row.zip }}</span>
                </el-form-item>
                <el-form-item label="邮箱">
                  <span>{{ props.row.email }}</span>
                </el-form-item>
                <el-form-item label="信用卡后4位">
                  <span>{{ props.row.creditcardDetails }}</span>
                </el-form-item>
                <el-form-item label="出生日期">
                  <span>{{ props.row.birthdate }}</span>
                </el-form-item>
                <el-form-item label="健身史">
                  <span>{{ props.row.exerciseHistory }}</span>
                </el-form-item>
                <el-form-item label="身体水平">
                  <span>{{ props.row.fitnessLevel }}</span>
                </el-form-item>
                <el-form-item label="健康状况">
                  <span>{{ props.row.medicalHeath }}</span>
                </el-form-item>
              </el-form>
             </template>
          </el-table-column>

        <el-table-column
          fixed
          prop="customerId"
          label="客户ID"
          width="100px"
          >
        </el-table-column>

        <el-table-column
          prop="lastname"
          label="姓"
          width="120">
        </el-table-column>

        <el-table-column
          prop="firstname"
          label="名"
          width="120">
        </el-table-column>

        <el-table-column
          prop="address"
          label="地址"
          width="200">
        </el-table-column>

        <el-table-column
          prop="city"
          label="城市"
          width="120">
        </el-table-column>

          <el-table-column
          prop="state"
          label="所在州"
          width="120">
        </el-table-column>

        <el-table-column
          prop="phone"
          label="电话号码"
          width="120">
        </el-table-column>
        


          <el-table-column
            fixed="right"
            label="操作"
            width="100">
          <template slot-scope="scope">
            <!-- <el-button @click="deleteCustomer(scope.row)" type="text" size="small">删除</el-button>
            <el-button @click="findCustomer(scope.row)" type="text" size="small">编辑</el-button> -->
             <el-button  @click="handleEdit(scope.row)"type="primary" icon="el-icon-edit" circle size="small"></el-button>
             <el-button  @click="deleteCustomer(scope.row)" type="danger" icon="el-icon-delete" circle size="small"></el-button>
          </template>
        </el-table-column>
      </el-table>

    

          </el-main>


        <el-footer height="20px">
          <!-- Footer content -->
                 <el-pagination
                  background
                  layout="prev, pager, next"
                  :page-size="pageSize"
                  :total="total" 
                  @current-change="handleCurrentPage">
            </el-pagination>
        </el-footer>

     </el-container>
    

      <el-dialog title="新增客户信息" :visible.sync="dialogFormVisible4Add">

        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px" class="demo-ruleForm" size="small" label-position="center">


          <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="10">
                    <el-form-item label="姓" prop="lastname">
                       <el-input v-model="ruleForm.lastname"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="10" >
                  <el-form-item label="名" prop="firstname">
                    <el-input v-model="ruleForm.firstname"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
           

           <el-row>
              <el-col :span="8">
                    <el-form-item label="地址" prop="address">
                       <el-input v-model="ruleForm.address"></el-input>
                     </el-form-item>
              </el-col>
              <el-col :span="5" :offset= "4">
                  <el-form-item label="城市" prop="city">
                    <el-input v-model="ruleForm.city"></el-input>
                  </el-form-item>
              </el-col>
               <el-col :span="5">
                  <el-form-item label="州" prop="state">
                    <el-input v-model="ruleForm.state"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

        
          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮编" prop="zip">
                       <el-input v-model="ruleForm.zip"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="12">
                  <el-form-item label="电话" prop="phone">
                    <el-input v-model="ruleForm.phone"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮箱" prop="email">
                       <el-input v-model="ruleForm.email"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="12" >
                  <el-form-item label="信用卡后四位" prop="creditcardDetails" label-width="100px">
                    <el-input v-model="ruleForm.creditcardDetails"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
        
          <el-row>
                <el-col :span="14">
                  <el-form-item  label="出生日期" label-width="70px" prop="birthdate">
                <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.birthdate" style="width: 100%;"></el-date-picker>
              </el-form-item>
              </el-col>
          </el-row>

          <el-form-item label="健身史" label-width="70px"  prop="exerciseHistory">
                <el-input v-model="ruleForm.exerciseHistory"></el-input>
          </el-form-item>
           <el-form-item label="身体水平" label-width="70px" prop="fitnessLevel">
                <el-input v-model="ruleForm.fitnessLevel"></el-input>
          </el-form-item>
          <el-form-item label="健康状况" label-width="70px" prop="medicalHeath">
            <el-input v-model="ruleForm.medicalHeath"></el-input>
          </el-form-item>

         </el-form>

          <div slot="footer" class="dialog-footer">
          <!-- <el-button @click="dialogFormVisible4Add = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible4Add = false">确 定</el-button> -->
          <el-button type="primary" @click="addCustomer('ruleForm')">确定添加</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
         </div>
      </el-dialog>

      <el-dialog title="修改客户信息" :visible.sync="dialogFormVisible4Edit">

        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px" class="demo-ruleForm" size="small" label-position="center">


          <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="10">
                    <el-form-item label="姓" prop="lastname">
                       <el-input v-model="ruleForm.lastname"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="10" >
                  <el-form-item label="名" prop="firstname">
                    <el-input v-model="ruleForm.firstname"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
           

           <el-row>
              <el-col :span="8">
                    <el-form-item label="地址" prop="address">
                       <el-input v-model="ruleForm.address"></el-input>
                     </el-form-item>
              </el-col>
              <el-col :span="5" :offset= "4">
                  <el-form-item label="城市" prop="city">
                    <el-input v-model="ruleForm.city"></el-input>
                  </el-form-item>
              </el-col>
               <el-col :span="5">
                  <el-form-item label="州" prop="state">
                    <el-input v-model="ruleForm.state"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

        
          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮编" prop="zip">
                       <el-input v-model="ruleForm.zip"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="12">
                  <el-form-item label="电话" prop="phone">
                    <el-input v-model="ruleForm.phone"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮箱" prop="email">
                       <el-input v-model="ruleForm.email"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="12" >
                  <el-form-item label="信用卡后四位" prop="creditcardDetails" label-width="100px">
                    <el-input v-model="ruleForm.creditcardDetails"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
        
          <el-row>
                <el-col :span="14">
                  <el-form-item  label="出生日期" label-width="70px" prop="birthdate">
                <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.birthdate" style="width: 100%;"></el-date-picker>
              </el-form-item>
              </el-col>
          </el-row>

          <el-form-item label="健身史" label-width="70px"  prop="exerciseHistory">
                <el-input v-model="ruleForm.exerciseHistory"></el-input>
          </el-form-item>
           <el-form-item label="身体水平" label-width="70px" prop="fitnessLevel">
                <el-input v-model="ruleForm.fitnessLevel"></el-input>
          </el-form-item>
          <el-form-item label="健康状况" label-width="70px" prop="medicalHeath">
            <el-input v-model="ruleForm.medicalHeath"></el-input>
          </el-form-item>

         </el-form>

          <div slot="footer" class="dialog-footer">
          <!-- <el-button @click="dialogFormVisible4Edit = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible4Edit = false">确 定</el-button> -->
          <el-button type="primary" @click="updateCustomer('ruleForm')">确定修改</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
         </div>
      </el-dialog>


    </div>
</template>

<script>
  export default {

    data() {
      return {

        total: null,
        currentPage:1,
        pageSize:10,
        tableData:[
        {
        },],

        ruleForm: {
          customerId: '',
          lastname: '',
          firstname: '',
          address: '',
          city:'',
          state: '',
          zip:'',
          phone: '',
          email: '',
          creditcardDetails: '',
          birthdate: '',
          exerciseHistory: '',
          fitnessLevel: '',
          medicalHeath: '',
        },
        rules: {
          lastname: [
            { required: true, message: '请输入姓', trigger: 'change' },
          ],
          firstname: [
            { required: true, message: '请输入名', trigger: 'change' },
          ],
        },
        dialogFormVisible4Add: false,
        dialogFormVisible4Edit: false,
        // formLabelWidth: '120px'
      };
    },
    methods: {
      handleCurrentPage(currentpage){
        this.currentPage=currentpage;
        this.getTable();
      },
      getTable(){
          // console.log("/user/admin/checkuser?size="+this.pagesize+"&page="+this.currentpage);
          // axios.get("http://localhost/customer/list")
          //  .then((response)=>{
          //   // this.table=response.data.data.list;
          //   // this.totalpage=response.data.data.pages;
          //   this.tableData=response.data;
          //   console.log(response);
          // })
          // .catch(()=>{console.log("失败")})
          // this.page(currentpage)
            axios.get(this.$root.preURL + "/customer/page/" + this.currentPage + '/' + this.pageSize)
                 .then((response)=>{
                    this.tableData=response.data.records;
                    this.total=response.data.total;
                  })
                  .catch(()=>{console.log("失败")})
      },
      handleAdd(){
         this.ruleForm = this.$options.data().ruleForm;
        this.dialogFormVisible4Add=true;
      },
      addCustomer(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            console.log(this.ruleForm);
            axios.post(this.$root.preURL + "/customer/add", this.ruleForm).then((response)=>{
              if(response.data)
                this.$message.success("添加成功");
            }).finally(()=>{
              this.getTable();
            })
            this.dialogFormVisible4Add = false;
            // this.$refs[formName].resetFields();
           
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      handleEdit(row){
            axios.get(this.$root.preURL + "/customer/find/" + row.customerId)
              .then((response)=>{
                this.dialogFormVisible4Edit=true;
                this.ruleForm=response.data;
                })
            this.dialogFormVisible4Edit=true;

      },
      updateCustomer(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            console.log(this.ruleForm);
            axios.put(this.$root.preURL + "/customer/update", this.ruleForm).then((response)=>{
              if(response.data)
                this.$message.success("修改成功");
            }).finally(()=>{
              this.getTable();
            })
            this.dialogFormVisible4Edit = false;
            // this.$refs[formName].resetFields();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      deleteCustomer(row) {

           this.$confirm('此操作将永久删除该客户信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
          }).then(() => {
            
              axios.delete(this.$root.preURL + "/customer/delete/"+row.customerId)
              .then((response)=>{
                if(response.data)
                  this.$message.success("删除成功");
              })
              .catch(() => {
                    this.$message.error("糟糕的请求");})
              .finally(()=>{
              this.getTable();
          })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });          
          });
      },

      getCustomer(row) {
        
      }
    
    },
    created(){
      this.getTable();
    },
  }
</script>

<style>
  .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #545c64;
  color: white;
  }
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }


</style>

