<template>

  <div>
    <el-container>
          <el-header style="background-color: rgb(238, 241, 246)">
              <el-row>
                  <el-col :span="1">
                          <el-button icon="el-icon-plus" circle @click="handleAdd()"></el-button>
                          <!-- <el-button icon="el-icon-plus" circle @click="$router.push('/table1/add')"></el-button> -->
                  </el-col>
              </el-row>
          </el-header>

          <el-main>
         <el-table
        :data="tableData"
        style="width: 100%">

        <el-table-column
          fixed
          prop="level"
          label="级别"
          width="100px"
          >
        </el-table-column>

        <el-table-column
          prop="pricePermonth"
          label="价格/月"
          width="120px">
        </el-table-column>


          <el-table-column
            fixed="right"
            label="操作"
            width="100">
          <template slot-scope="scope">
            <!-- <el-button @click="deleteLevel(scope.row)" type="text" size="small">删除</el-button>
            <el-button @click="findLevel(scope.row)" type="text" size="small">编辑</el-button> -->
             <el-button  @click="handleEdit(scope.row)"type="primary" icon="el-icon-edit" circle size="small"></el-button>
             <el-button  @click="deleteLevel(scope.row)" type="danger" icon="el-icon-delete" circle size="small"></el-button>
          </template>
        </el-table-column>
      </el-table>

    

          </el-main>

        <el-footer height="20px">
          <!-- Footer content -->
              <!-- <el-pagination
                  background
                  layout="prev, pager, next"
                  :page-size="pageSize"
                  :total="total" 
                  @current-change="handleCurrentPage">
            </el-pagination> -->
        </el-footer>
        
     </el-container>
   

      <el-dialog title="新增级别信息" :visible.sync="dialogFormVisible4Add">

        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px" class="demo-ruleForm" size="small" label-position="center">


          <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="10">
                    <el-form-item label="级别" prop="level">
                       <el-input v-model="ruleForm.level"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="10" >
                  <el-form-item label="费用" prop="pricePermonth">
                    <el-input v-model="ruleForm.pricePermonth"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

        </el-form>

          <div slot="footer" class="dialog-footer">
          <!-- <el-button @click="dialogFormVisible4Add = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible4Add = false">确 定</el-button> -->
          <el-button type="primary" @click="addLevel('ruleForm')">确定添加</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
         </div>
      </el-dialog>

      <el-dialog title="修改级别信息" :visible.sync="dialogFormVisible4Edit">

        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px" class="demo-ruleForm" size="small" label-position="center">


         <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="10">
                    <el-form-item label="级别" prop="level">
                       <el-input v-model="ruleForm.level"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="10" >
                  <el-form-item label="费用" prop="pricePermonth">
                    <el-input v-model="ruleForm.pricePermonth"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
           

         </el-form>

          <div slot="footer" class="dialog-footer">
          <!-- <el-button @click="dialogFormVisible4Edit = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible4Edit = false">确 定</el-button> -->
          <el-button type="primary" @click="updateLevel('ruleForm')">确定修改</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
         </div>
      </el-dialog>


    </div>
</template>

<script>
  export default {

    data() {
      return {

        total: null,
        currentPage:1,
        pageSize:10,
        tableData:[
        {
        },],

        ruleForm: {
          level: '',
          pricePermonth: '',
        },
        rules: {
          level: [
            { required: true, message: '请输入姓级别名称' , trigger: 'change' },
          ],
          pricePermonth: [
            { required: true, message: '请输入该级别的每月收费', trigger: 'change' },
          ],
        },
        dialogFormVisible4Add: false,
        dialogFormVisible4Edit: false,
        // formLabelWidth: '120px'
      };
    },
    methods: {
      handleCurrentPage(currentpage){
        this.currentPage=currentpage;
        this.getTable();
      },
      // page(currentpage){
      //   axios.get(this.$root.preURL + "/levelPrice/page/"+currentpage+'/'+this.pageSize).then((response)=>{

      //     this.tableData=response.data.records;
      //     this.total=response.data.total;
      //   })
      // },
      getTable(){
  
            axios.get(this.$root.preURL + "/levelPrice/list")
                 .then((response)=>{
                    this.tableData=response.data;
                  })
                  .catch(()=>{console.log("失败")})
      },
      handleAdd(){
         this.ruleForm = this.$options.data().ruleForm;
        this.dialogFormVisible4Add=true;
      },
      addLevel(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            console.log(this.ruleForm);
            axios.post(this.$root.preURL + "/levelPrice/add", this.ruleForm).then((response)=>{
              if(response.data)
                this.$message.success("添加成功");
            }).finally(()=>{
              this.getTable();
            })
            this.dialogFormVisible4Add = false;
            // this.$refs[formName].resetFields();
           
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      handleEdit(row){
            axios.get(this.$root.preURL + "/levelPrice/find/" + row.level)
              .then((response)=>{
                this.dialogFormVisible4Edit=true;
                this.ruleForm=response.data;
                })
            this.dialogFormVisible4Edit=true;

      },
      updateLevel(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            console.log(this.ruleForm);
            axios.put(this.$root.preURL + "/levelPrice/update", this.ruleForm).then((response)=>{
              if(response.data)
                this.$message.success("修改成功");
            }).finally(()=>{
              this.getTable();
            })
            this.dialogFormVisible4Edit = false;
            // this.$refs[formName].resetFields();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      deleteLevel(row) {

           this.$confirm('此操作将永久删除该级别信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
          }).then(() => {
            
              axios.delete(this.$root.preURL + "/levelPrice/delete/"+row.level)
              .then((response)=>{
                if(response.data)
                  this.$message.success("删除成功");
          }).finally(()=>{
              this.getTable();
          })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });          
          });
      },

      getLevel(row) {
        
      }
    
    },
    created(){
      this.getTable();
    },
  }
</script>

<style>
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }
</style>
