<template>

  <div>
    <el-container>
          <el-header style="background-color: rgb(238, 241, 246)">
              <el-row>
                  <el-col :span="1">
                          <el-button icon="el-icon-plus" circle @click="handleAdd()"></el-button>
                          <!-- <el-button icon="el-icon-plus" circle @click="$router.push('/table1/add')"></el-button> -->
                  </el-col>
              </el-row>
          </el-header>

          <el-main>
         <el-table
        :data="tableData"
        style="width: 100%">
          <el-table-column fixed type="expand">
              <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="邮编">
                  <span>{{ props.row.ptZip }}</span>
                </el-form-item>
                <el-form-item label="邮箱">
                  <span>{{ props.row.ptEmail }}</span>
                </el-form-item>
              </el-form>
             </template>
          </el-table-column>

        <el-table-column
          fixed
          prop="personaltrainerId"
          label="教练ID"
          width="100px"
          >
        </el-table-column>

        <el-table-column
          prop="ptLastname"
          label="姓"
          width="120">
        </el-table-column>

        <el-table-column
          prop="ptFirstname"
          label="名"
          width="120">
        </el-table-column>

        <el-table-column
          prop="ptAddress"
          label="地址"
          width="200">
        </el-table-column>

        <el-table-column
          prop="ptCity"
          label="城市"
          width="120">
        </el-table-column>

          <el-table-column
          prop="ptState"
          label="所在州"
          width="120">
        </el-table-column>

        <el-table-column
          prop="ptPhone"
          label="电话号码"
          width="120">
        </el-table-column>
        


          <el-table-column
            fixed="right"
            label="操作"
            width="100">
          <template slot-scope="scope">
            <!-- <el-button @click="deletePersonaltrainer(scope.row)" type="text" size="small">删除</el-button>
            <el-button @click="findPersonaltrainer(scope.row)" type="text" size="small">编辑</el-button> -->
             <el-button  @click="handleEdit(scope.row)"type="primary" icon="el-icon-edit" circle size="small"></el-button>
             <el-button  @click="deletePersonaltrainer(scope.row)" type="danger" icon="el-icon-delete" circle size="small"></el-button>
          </template>
        </el-table-column>
      </el-table>

    

          </el-main>

        <el-footer height="20px">
          <!-- Footer content -->
              <el-pagination
                  background
                  layout="prev, pager, next"
                  :page-size="pageSize"
                  :total="total" 
                  @current-change="handleCurrentPage">
            </el-pagination>
        </el-footer>
        
     </el-container>
   

      <el-dialog title="新增教练信息" :visible.sync="dialogFormVisible4Add">

        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px" class="demo-ruleForm" size="small" label-position="center">


          <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="10">
                    <el-form-item label="姓" prop="ptLastname">
                       <el-input v-model="ruleForm.ptLastname"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="10" >
                  <el-form-item label="名" prop="ptFirstname">
                    <el-input v-model="ruleForm.ptFirstname"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
           

           <el-row>
              <el-col :span="8">
                    <el-form-item label="地址" prop="ptAddress">
                       <el-input v-model="ruleForm.ptAddress"></el-input>
                     </el-form-item>
              </el-col>
              <el-col :span="5" :offset= "4">
                  <el-form-item label="城市" prop="ptCity">
                    <el-input v-model="ruleForm.ptCity"></el-input>
                  </el-form-item>
              </el-col>
               <el-col :span="5">
                  <el-form-item label="州" prop="ptState">
                    <el-input v-model="ruleForm.ptState"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

        
          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮编" prop="ptZip">
                       <el-input v-model="ruleForm.ptZip"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="12">
                  <el-form-item label="电话" prop="ptPhone">
                    <el-input v-model="ruleForm.ptPhone"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮箱" prop="ptEmail">
                       <el-input v-model="ruleForm.ptEmail"></el-input>
                    </el-form-item>
              </el-col>
          </el-row>
        
    

         </el-form>

          <div slot="footer" class="dialog-footer">
          <!-- <el-button @click="dialogFormVisible4Add = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible4Add = false">确 定</el-button> -->
          <el-button type="primary" @click="addPersonaltrainer('ruleForm')">确定添加</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
         </div>
      </el-dialog>

      <el-dialog title="修改教练信息" :visible.sync="dialogFormVisible4Edit">

        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px" class="demo-ruleForm" size="small" label-position="center">


          <el-row type="flex" class="row-bg" justify="space-between">
              <el-col :span="10">
                    <el-form-item label="姓" prop="ptLastname">
                       <el-input v-model="ruleForm.ptLastname"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="10" >
                  <el-form-item label="名" prop="ptFirstname">
                    <el-input v-model="ruleForm.ptFirstname"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>
           

           <el-row>
              <el-col :span="8">
                    <el-form-item label="地址" prop="ptAddress">
                       <el-input v-model="ruleForm.ptAddress"></el-input>
                     </el-form-item>
              </el-col>
              <el-col :span="5" :offset= "4">
                  <el-form-item label="城市" prop="ptCity">
                    <el-input v-model="ruleForm.ptCity"></el-input>
                  </el-form-item>
              </el-col>
               <el-col :span="5">
                  <el-form-item label="州" prop="ptState">
                    <el-input v-model="ruleForm.ptState"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

        
          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮编" prop="ptZip">
                       <el-input v-model="ruleForm.ptZip"></el-input>
                    </el-form-item>
              </el-col>
              <el-col :span="12">
                  <el-form-item label="电话" prop="ptPhone">
                    <el-input v-model="ruleForm.ptPhone"></el-input>
                  </el-form-item>
              </el-col>
          </el-row>

          <el-row>
              <el-col :span="12">
                    <el-form-item label="邮箱" prop="ptEmail">
                       <el-input v-model="ruleForm.ptEmail"></el-input>
                    </el-form-item>
              </el-col>
          </el-row>
        

         </el-form>

          <div slot="footer" class="dialog-footer">
          <!-- <el-button @click="dialogFormVisible4Edit = false">取 消</el-button>
          <el-button type="primary" @click="dialogFormVisible4Edit = false">确 定</el-button> -->
          <el-button type="primary" @click="updatePersonaltrainer('ruleForm')">确定修改</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
         </div>
      </el-dialog>


    </div>
</template>

<script>
  export default {

    data() {
      return {

        total: null,
        currentPage:1,
        pageSize:10,
        tableData:[
        {
        },],

        ruleForm: {
          personaltrainerId: '',
          ptLastname: '',
          ptFirstname: '',
          ptAddress: '',
          ptCity:'',
          ptState: '',
          ptZip:'',
          ptPhone: '',
          ptEmail: '',
          creditcardDetails: '',
          birthdate: '',
          exerciseHistory: '',
          fitnessLevel: '',
          medicalHeath: '',
        },
        rules: {
          ptLastname: [
            { required: true, message: '请输入姓', trigger: 'change' },
          ],
          ptFirstname: [
            { required: true, message: '请输入名', trigger: 'change' },
          ],
        },
        dialogFormVisible4Add: false,
        dialogFormVisible4Edit: false,
        // formLabelWidth: '120px'
      };
    },
    methods: {
      handleCurrentPage(currentpage){
        this.currentPage=currentpage;
        this.getTable();
      },
      getTable(){
   
            axios.get(this.$root.preURL + "/personaltrainer/page/"+this.currentPage+'/'+this.pageSize)
                 .then((response)=>{
                    this.tableData=response.data.records;
                    this.total=response.data.total;
                  })
                  .catch(()=>{console.log("失败")})
      },
      handleAdd(){
         this.ruleForm = this.$options.data().ruleForm;
        this.dialogFormVisible4Add=true;
      },
      addPersonaltrainer(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            console.log(this.ruleForm);
            axios.post(this.$root.preURL + "/personaltrainer/add", this.ruleForm).then((response)=>{
              if(response.data)
                this.$message.success("添加成功");
            }).finally(()=>{
              this.getTable();
            })
            this.dialogFormVisible4Add = false;
            // this.$refs[formName].resetFields();
           
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      handleEdit(row){
            axios.get(this.$root.preURL + "/personaltrainer/find/" + row.personaltrainerId)
              .then((response)=>{
                this.dialogFormVisible4Edit=true;
                this.ruleForm=response.data;
                })
            this.dialogFormVisible4Edit=true;

      },
      updatePersonaltrainer(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // alert('submit!');
            console.log(this.ruleForm);
            axios.put(this.$root.preURL + "/personaltrainer/update", this.ruleForm).then((response)=>{
              if(response.data)
                this.$message.success("修改成功");
            }).finally(()=>{
              this.getTable();
            })
            this.dialogFormVisible4Edit = false;
            // this.$refs[formName].resetFields();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },

      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

      deletePersonaltrainer(row) {

           this.$confirm('此操作将永久删除该教练信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
          }).then(() => {
            
              axios.delete(this.$root.preURL + "/personaltrainer/delete/"+row.personaltrainerId)
              .then((response)=>{
                if(response.data)
                  this.$message.success("删除成功");
          })
          .catch(() => {
                    this.$message.error("糟糕的请求");
          })
          .finally(()=>{
              this.getTable();
          })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });          
          });
      },

      getPersonaltrainer(row) {
        
      }
    
    },
    created(){
      this.getTable();
    },
  }
</script>

<style>
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
</style>
