<template>
  <div class="home">
    <el-container style="height: 500px; border: 1px solid #eee">

        <el-header style="font-size: 30px">

       <span> <b>Workouts Online</b> </span> 
    </el-header>


  <el-container>
    
        <el-aside width="200px" style="background-color: #545c64">
    <!-- <el-menu :default-openeds="['1']">

      <el-submenu index="1">
        <template slot="title"><i class="el-icon-message"></i>导航一</template>
          <el-menu-item index="1-1">表1</el-menu-item>
          <el-menu-item index="1-2">表2</el-menu-item>

      </el-submenu>
    
    </el-menu> -->
    <el-menu router :default-openeds="['0']"    
      class="el-menu-vertical-demo"
       background-color="#545c64"
      text-color="#909399"
      active-text-color="#fff"
      >

        <el-submenu v-for="(item,index) in $router.options.routes" :index="index+''">
          <template slot="title"><i class="el-icon-menu"></i>
              <!-- <span>{{item.name}}</span> -->
              <font size="4" color=#E4E7ED><b>{{item.name}}</b></font>
          </template>
          <el-menu-item v-for="(item2,subindex) in item.children" :index="item2.path" 
          :class="$route.path==item2.path?'is-active':''">
              {{item2.name}}
          </el-menu-item>
        </el-submenu>     

    </el-menu>

  </el-aside>
    <el-main>
       <router-view></router-view>
    </el-main>

 

  </el-container>
    
</el-container>
    
  </div>
 
</template>


// <script>

// // @ is an alias to /src
// // import HelloWorld from '@/components/HelloWorld.vue'

// export default {
//   name: 'Home',
//   components: {
//     HelloWorld
//   }
// }
// </script>


<style>
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
    text-align: left;
  }
  
  .el-aside {
    color: #333;
  }
</style>

<script>
  export default {
    data() {
      const item = {
   
      };
      return {
        tableData: Array(20).fill(item)
      }
    }
  };
</script>